body, html {
  height: 100%;
}
.cc {
  text-align: center;
  
}
.bg {
  background-image: url("https://img.freepik.com/free-photo/laptop-notebook-writing-from-view-wooden-background_482257-34843.jpg?w=2000&t=st=1681265227~exp=1681265827~hmac=ea3b7712aedf0d1d047635e5e6537462ee8937382a85b34082a92a6fe8aed9b2");

  height: 100%;

  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  background-color: rgb(98, 98, 98);
  font-size: 70px;
  color: bisque;

  
}

.centertext {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  text-align: center;
  top: 10%;
  position: relative;
  margin-left: 250px;
  margin-right: 250px;
  padding: 30px;
}
.txtbg {
  background-color: rgba(98, 98, 98, 0.601);
  color: white;
}
.button1 {
background-color: rgba(245, 245, 245, 0.992);
font-size: 25px;
border-color: black;
border-width: 5px;

}

.qcolor {
  color: red;
  text-emphasis-style: bold;
}

/* media query? */
.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 20px;
}

@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}