body, html {
  height: 100%;
}
.cc {
  text-align: center;

  
}
.bg {
  background-image: url("https://img.freepik.com/free-photo/laptop-notebook-writing-from-view-wooden-background_482257-34843.jpg?w=2000&t=st=1681265227~exp=1681265827~hmac=ea3b7712aedf0d1d047635e5e6537462ee8937382a85b34082a92a6fe8aed9b2");

  height: 100%;

  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  background-color: rgb(98, 98, 98);
  font-size: 70px;
  color: bisque;

  
}
.flex {  
  display: flex;
  justify-content: center;

}

.centertext {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  top: 10%;
  text-align: center;
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  padding: 30px;
  width: 900px;
}
.txtbg {
  background-color: rgba(98, 98, 98, 0.601);
  color: white;
}
.button1 {
background-color: rgba(245, 245, 245, 0.992);
font-size: 25px;
border-color: black;
border-width: 5px;

}

.qcolor {
  color: red;
  text-emphasis-style: bold;
}
img {
  width: 55%;
}
/* media query? */
@media screen and (max-width: 768px) {
  .centertext {
  width: 700px;
  margin-left: 20px;
  margin-right: 20px;
  } 
}

@media screen and (max-width: 600px) {
 
  .centertext {
    width: 600px;
    font-size: 10px;
    margin-left: 25px;
    margin-right: 25px;
  }
}